body {
	font-family: 'Roboto Slab', serif;
	color: #000000;
	background-color: #F5F5FF;
}

p {
	color: #000000;
	margin: 0;
}

h1 {
	color: #000000;
	font-size: 28px;
}

a {
	color: #000000;
	font-weight: 400;
	padding-bottom:1px;
	border-bottom: 1px solid;
	text-decoration: none;
	transition: color 0.2s ease-in-out;
	outline: 0;
}

a:hover {
	color: #0075e0;
	text-decoration: none;
}

li {
	padding-bottom: 15px;
	color:#000000;
	list-style: circle;
}

.blog-link {
	font-size:30px;
}

.blog-title {
	padding-bottom: 5px; 
    font-size: 55px;
    margin-bottom: 5px;
    font-family: Questrial, serif;
	font-weight: normal;
}

.post-timestamp {
	margin-bottom:25px; 
	color:#555555;
	font-size: 18px;
}

.blogitem {
	font-family: "Raleway", "sans-serif";
	padding-bottom: 15px;
	text-align: left;
	list-style: none;
}

.blog-container{
	display: table;
	height: 100%;
	width: 100%;
	text-align: left;
}

.playground {
	font-family: Roboto Slab, sans-serif;
	margin: 0 auto;
	width: 70%;
	text-align: left;
	font-size: 20px;
    padding-bottom: 40px;
}

.container-wrap {
    display: table-cell;
    vertical-align: middle;
    margin: 0 auto;
    text-align: center;
    padding-top: 75px;
}

.title-wrap {
	text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.head-bar {
	width:100%; 
	position: fixed;
	height:6px;
	top: 0px;
	background-color:#0cb6f7;
}

.head-links {
	margin-left:40px; 
	margin-top:6px
}

.head-link-at {
	padding-bottom:1px; 
	border-bottom:1px solid black
}