body {
	background-image: url(/static/img/DSCF0968.JPG);
	background-size: cover;
	background-color: #0079E8;
}

p, li {
	color: #FFFFFF;
}

table p {
	margin-top: 5px;
	margin-bottom: 5px;
}

table {
	width: 1000px;
	left:300px;
}


h1, h2, h3, h4, h5, h6 {
	color: #202020;
	margin: 0 0 10px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
}

p, ul, ol, table, pre, dl {
	margin: 0 0 20px;
}

a {
	color: #999999;
	font-weight: 400;
	text-decoration: none;
	transition: color 0.2s ease-in-out;
	outline: 0;
}

a:hover {
	color: #77aaf0;
	text-decoration: underline
}

h1 {
	line-height: 3rem;
}

a, a:active, a:focus {
	outline: none
}

.front {
	height: 100vh;
}

.front-basetext {
	position: absolute;
    left: 45px;
	top: 0px;
}

.front-basetext h1 {
	font-size: 2.7em;
}
	
.front-basetext p {
	font-size: 1em;
}

.main-container {
    display: table;
    height: 100%;
    width: 100%;
}

.container-wrap {
    vertical-align: middle;
    margin: 0 auto;
    width: 65%;
    display: table;
	padding-bottom: 20vh;
	font-size: 20px;
}

.main h1, h2, h3, h4, h5, h6 {
	display: table;
	margin-left: auto;
	margin-right: auto;
	color: rgba(7, 180, 236, 1);
}

.main {
	background-color: black;
    background-image: url(http://ipex.pw/internalpx/static/lowpoly/8.png);
    background-attachment: fixed;
    background-size: cover;
	padding-top: 150px
}

.navbar-wrapper {
	position: fixed;
	z-index: 1;
	display: inline-block;
	top: 0;
}

.navbar {
    z-index: 1;
    width: 100vw;
    min-height: 65px;
    display: inline-block;
    transition: background 0.5s ease-in-out;
    background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0));
}

.nav-body {
	background: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0.5));
}

.nav-inner {
	width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: auto;
    position: absolute;
    margin-bottom: auto;
    transform: translateY(-50%);
    top: 50%;
}

.nav-inner a {
	font-size: 1.2em;
    color: #EFEFEF;
    display: inline-block;
    margin-bottom: 3px;
}

.nav-sep {
	margin-left: 10px;
	margin-right: 10px;
	display: inline-block;
	margin-bottom: 0px
}

.nav-sep:before {
	content: "·";
}