@import url(https://dylanbeswick.github.io/stylesheets/fonts.css);
body {
	padding: 0px 0 20px 0px;
	margin: 0px;
	font-family: 'Roboto Slab', serif;
	color: #f0e7d5;
	font-weight: normal;
	transition: background 0.3s ease-in-out;
	background-attachment: fixed;
}

p {
	color: rgba(255,255,255,1);
}

table p {
	margin-top: 5px;
	margin-bottom: 5px;
}

li {
	list-style: none;
}

h1, h2, h3, h4, h5, h6 {
	color: #202020;
	margin: 0 0 10px;
	font-family: 'OpenSansRegular', "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
}

p, ul, ol, table, pre, dl {
	margin: 0 0 20px;
}

h1, h2, h3 {
	line-height: 1.1;
}

h1 {
	color: #000000
	font-size: 28px;
}

h2 {
	font-size: 24px;
}

h4, h5, h6 {
	color: #4444ff;
}

h3 {
	font-size: 18px;
	line-height: 24px;
	font-family: 'OpenSansRegular', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	font-weight: normal;
	color: #555555;
}

a {
	color: #bbbbbb;
	font-weight: 400;
	text-decoration: none;
	transition: color 0.2s ease-in-out;
	outline: 0;
}

a:hover {
	color: #77aaf0;
	text-decoration: underline
}

code {
	color:#222222;
	text-align:left
}

a small {
	font-size: 11px;
	color: #666;
	margin-top: -0.6em;
	display: block
}


h1 {
	line-height: 2rem;
}

a {
	outline: none;
}

a, a:active, a:focus {
	outline: none
}

.projects-table {
	border-top: 1px solid #434343;
	width: 1000px;
}
