.sub-nav {
	height: 38px;
	margin: 0 auto !important;
	display: table;
	padding-top: 12px
}

.sub-nav .nav a, .sub-nav .nav a:visited, .sub-nav .nav a:active {
	color: #333;
	text-decoration: none;
	text-align: center;
	display: inline-block;
	position: relative;
	background: none !important;
}

.navbar {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	width: 100%;
	height: 50px;
	background: rgba(255, 70, 70, 0.9);
}

.slide {
	border-bottom: 2px solid rgba(255,255,255,1);
}

.main-container{
	display: table;
	height: 100%;
	width: 100%;
}

.container-wrap{
	display: table-cell;
	vertical-align: middle;
	margin:0 auto;
}

.playground {
	margin: 0 auto;
	text-align: center;
	width: 580px;
}

.playground p {
	line-height: 25px;
}

.larger-playground {
	margin: 0 auto;
	text-align: center;
	width: 1100px;
}

.projects-table {
 	border-top: 1px solid #434343;
 	width: 1000px;
    	left:300px;
}

.navlink a {
	padding: 15px;
	padding-bottom: 18px;
	text-align: center;
	font-family: 'Lato', serif;
	font-size: 16px;
	transition: background 0.3s ease-in-out;
	background: rgba(200, 70, 70, 0);
	color:turquoise;
}

.navlink a:hover {
	text-decoration: none;
	color: turquoise;
	background: rgba(100, 70, 70, 0.5);
}

.navlink.logonav a {
	font-family: 'Josefin Slab', serif;
	font-size: 18px;
	padding-bottom: 17px;
}

a {
	outline: none;
}

a, a:active, a:focus {
	outline: none
}
